<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>search-form</title>
</head>
<head th:replace="layouts::header"></head>
<body>

<nav th:replace="layouts:: navbar"></nav>


<form th:action="@{/search/show}" method="GET" th:object="${para0}">
<!--    <nav th:replace="layouts:: form"></nav>-->
    <div th:fragment="form" class="container justify-content-md-center col-8">
        <input class="btn btn-primary" type="submit" value="Show">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>minYear</label>
                <input class="form-control" type="text" name="minYear" th:field="${para0.minYear}">
            </div>
            <div class="form-group col-md-6">
                <label>maxYear</label>
                <input class="form-control" type="text" name="maxYear" th:field="${para0.maxYear}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>manufacturers</label>
<!--                <input class="form-control" type="text" name="manufacturer" th:field="${para0.manufacturer}">-->
                <select class="form-control" name="manufacturer">
                    <option th:each="manufacturer : ${para0.manufacturerList}"
                            th:value="${manufacturer}"
                            th:text="${manufacturer}"
                            th:selected="${manufacturer=='toyota'}"
                            name="manufacturer">AAA</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>model</label>
                <input class="form-control" type="text" name="model" th:field="${para0.modelName}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>minPrice</label>
                <input class="form-control" type="text" name="maxPrice" th:field="${para0.minPrice}">
            </div>
            <div class="form-group col-md-6">
                <label>maxPrice</label>
                <input class="form-control" type="text" name="maxMileage" th:field="${para0.maxPrice}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>minOdometer</label>
                <input class="form-control" type="text" name="fuelType"  th:field="${para0.minOdo}">
            </div>
            <div class="form-group col-md-6">
                <label>maxOdometer</label>
                <input class="form-control" type="text" name="numOfCylinders"  th:field="${para0.maxOdo}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>state</label>
<!--                <input class="form-control" type="text" name="size"  th:field="${para0.state}">-->
                <select class="form-control" name="state">
                    <option th:each="state : ${para0.stateList}"
                            th:value="${#strings.toUpperCase(state)}"
                            th:text="${#strings.toUpperCase(state)}"
                            th:selected="${#strings.toUpperCase(state)=='FL'}"
                            name="state">AAA</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>title status</label>
<!--                <input class="form-control" type="text" name="region"  th:field="${para0.status}">-->
                <select class="form-control" name="status">
                    <option th:each="status : ${para0.statusList}"
                            th:value="${status}"
                            th:text="${status}"
                            name="status">AAA</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>color</label>
<!--                <input class="form-control" type="text" name="condition"  th:field="${para0.color}">-->
                <select class="form-control" name="color">
                    <option th:each="color : ${para0.colorList}"
                            th:value="${color}"
                            th:text="${color}"
                            name="color">AAA</option>
                </select>
            </div>

        </div>
    </div>
</form>

</body>
</html>