<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Please create an account first!</h2>
    <form th:action="@{/checkregister}" method="GET" th:object="${newUser}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" th:field="*{USERNAME}" id="username" placeholder="Username" >
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" th:field="*{PASSWORD}" id="pwd" placeholder="Enter password">
        </div>
        <br />
        <input type="submit" class="btn btn-primary" value="Register">
    </form>
</div>

</body>
</html>