<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>trend-form</title>
</head>
<head th:replace="layouts::header"></head>
<body>
<nav th:replace="layouts:: navbar"></nav>

<div th:fragment="trend3-description" class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Trend of Best Saled Size</h1>
            <p class="lead">The best sale size of vehicles and its quantity each year with selected parameters.</p>
        </div>
    </div>
</div>

<form th:action="@{/trend3/show}" method="GET">
    <div th:fragment="form" class="container justify-content-md-center col-8">
        <input class="btn btn-primary" type="submit" value="Show">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>minYear</label>
                <input class="form-control" type="text" name="minYear" th:field="${para3.minYear}">
            </div>
            <div class="form-group col-md-6">
                <label>maxYear</label>
                <input class="form-control" type="text" name="maxYear" th:field="${para3.maxYear}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>manufacturer</label>
                <input class="form-control" type="text" name="manufacturer" th:field="${para3.manufacturer}">
            </div>
            <div class="form-group col-md-6">
                <label>model</label>
                <input class="form-control" type="text" name="model" th:field="${para3.modelName}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>title</label>
                <input class="form-control" type="text" name="maxPrice" th:field="${para3.status}">
            </div>
            <div class="form-group col-md-6">
                <label>condition</label>
                <input class="form-control" type="text" name="maxMileage" th:field="${para3.condition}">
            </div>
        </div>
    </div>
</form>


</body>
</html>